{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>P4 Drawing</title>

  <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

  <style type="text/css">
  </style>

</head>

<body>
  <!-- You may change the dimensions of this canvas -->
  <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
  // setting up the canvas and one paper tool
  var canvas = document.getElementById('myCanvas');
  paper.setup(canvas);
  var tool = new paper.Tool();

  // getting the URL (you may want to use for Exercise 3)
  var url = window.location.href;
  var device1 = new paper.Path();
  var device2 = new paper.Path();

  // var socket = new WebSocket(
  //     'ws://your url here:8765/');


  // create a new websocket connecting to the server
  var socket = new WebSocket('ws://p4-eranda-b-erandabregasi640387.codeanyapp.com:8765/');
  var dict = []; // create an empty array

  function check(key) {
    for (i = 0; i < dict.length; i++) {
      if (dict[i].key == key) {
        return dict[i];
      }
    }
    return false;
  }
  // triggered when receiving a message from the server
  socket.onmessage = function(receivedMessage) {
    // do something when you receive a message
    var color = JSON.parse(receivedMessage.data);

    // Exercise 1B
    //     if (check(color.user) != false) {
    //       check(color.user).value.add(new paper.Point(color.x, color.y));
    //       check(color.user).value.strokeColor = {
    //         hue: color.user,
    //         saturation: 1,
    //         brightness: 1
    //       }
    //     } else {
    //       var path = new paper.Path();
    //       dict.push({
    //         key: color.user,
    //         value: path
    //       });
    //       path.add(new paper.Point(color.x, color.y));
    //       path.strokeColor = {
    //         hue: color.user,
    //         saturation: 1,
    //         brightness: 1
    //       }
    //     }

    // Exercise 1C
    if (url.endsWith("?size=large")) {
      

    } else if (url.endsWith("?size=small")) {
      var path = new paper.Path();
      path.add(new paper.Point(color.x, color.y));
      path.strokeColor = color.user;
    }

      
    };

  // data is part of the object
  //     path.add(new paper.Point(color.x, color.y));

  //     path.strokeColor = {
  //       hue: color.user,
  //       saturation: 1,
  //       brightness: 1
  //     }

  var clientID = Math.random() * 100;

  tool.onMouseMove = function(event) {
    // Create a new path every time the mouse is clicked
    socket.send(JSON.stringify({
      x: event.point.x,
      y: event.point.y,
      user: clientID
    }));
  }



  // notify console if socket closes unexpectedly
  socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };
</script>

</html>